Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Always
ContinuationIndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: true
IndentCaseBlocks: false
IndentGotoLabels: false
IndentPPDirectives: AfterHash
RemoveBracesLLVM: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly

ColumnLimit: 100
BreakStringLiterals: true
PenaltyBreakComment: 300
PenaltyBreakString: 1000
PenaltyBreakFirstLessLess: 120
PenaltyExcessCharacter: 1000000

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: Align
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true

AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignOperands:   Align
AlignTrailingComments: true
PointerAlignment: Left
ReferenceAlignment: Pointer

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 1

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*>'
    Priority:        1
  - Regex:           '^"'
    Priority:        2

NamespaceIndentation: All
FixNamespaceComments: true

ReflowComments: true
Cpp11BracedListStyle: true
Standard: Latest
